*{
    margin: 0;
    padding: 0;
  }
html {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  background-color: rgb(156, 67, 67);
  padding: 60px;
  text-align: center;
  height: 20%;
}
.nav a {
  text-decoration: none;
  font-size: 120px;
  color: white;
  padding: 0 30px 0 0;
  padding: 20px;
  border-radius: 30px;
}
.nav a:hover {
  color: rgb(182, 11, 11);
  transition: ease;
  transition-duration: 600ms;
  background-color: white;
}
main {
  background-color: rgb(88, 39, 39);
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  flex: 1;
}
.m {
  text-align: center;
  align-items: center;
  flex:1;
}
.m a {
  font-size: 120px;
  color: rgb(88, 39, 39);
  height: 100%;
  text-decoration: none;
  padding: 150px;
}
.m :hover{
  color: white;
  transition: ease;
  transition-duration: 600ms;
}